:root{
    --azul: #6EB3D0;
    --verde: #B6D7A8;
    --rosa: #F7B6D2;
    --laranja: #F4A623;
    --preto: #000000;
    --branco: #FFFFFF;
}

header, footer{
    background-color: var(--azul);
}

.card, .card img{
    border-radius: 0%;
}

.card{
    padding: 1rem;
    border: var(--preto) 2px solid;
} 

.card button{
    background-color: var(--rosa);
    color: var(--preto);
    border: none;
    border-radius: 5px;
}

.card button:hover{
    background-color: #f17eb0d2;
    color: var(--branco);
    transition: 0.3s;
}

.card button:active{
    background-color: var(--branco);
    color: var(--rosa);
}
